body{
    background-color: hsl(233, 47%, 7%);
}
.div1{
    background-color: hsl(244, 38%, 16%);
    width: 490px;
    height: 350px;
}
main{
    display: flex;
    padding-top: 200px;
    padding-left: 290px;
}
.p1,h2{
    color: white;
}
img{
    width: 400px;
    height: 350px;
}
h2{
    padding-left: 50px;
    font-family: "Lexend Deca";
}
.p1{
    padding-left: 50px;
    font-family:  "Inter";
    font-size: 14px;
    font-weight: 10;
}
.p2,.p3,.p4{
    color: white;
    font-family:  "Inter";
    font-weight: 10;
}
.overlay {
    position: absolute;
    top: 0;
    margin-top: 208px;
    left: 10;
    width: 400px;
    height: 350px;
    background-color:  #A76ACD;
    opacity: 0.5;
  }
.divid{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}
.p4{
    padding-left: 60px;
}
.p3{
    padding-left: 70px;
}
.b1{
    color:  hsl(277, 64%, 61%);
    font-size: 25px;
}
b{
    font-size: 25px;
}
